<div class="dxm-menu">
    <a href="~/basics/setting" class="active"><i class="iconfont icon-shangye6"></i>@(Lang.sysXiTongPeiZhi)</a>
    <a href="~/basics/app"><i class="iconfont icon-shangye1"></i>@(Lang.basYingYongChengXu)</a>
    <a href="~/basics/permission"><i class="iconfont icon-shangye2"></i>@(Lang.sysGongNengQuanXian)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.basShuJuZiDian)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.basDiQuShuJu)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.basHangYeShuJu)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.basIPDiZhiKu)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.basGuoLvNeiRong)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.basRiZhiJiLu)</a>
    <a href="#"><i class="iconfont icon-shangye2"></i>@(Lang.sysGuanLiGongJu)</a>
</div>
