@model AppSettingEdit
@{
    ViewData["Title"] = Lang.sysXiTongPeiZhi;
    Layout = string.Format("~/Views/Shared/{0}.cshtml", AppHelper.IsMaster ? "_Master" : "_Layout");
}

@section Heads{ }

@section Styles{ }

@section Menus{
    @await Html.PartialAsync("~/Areas/Basics/Views/_Menus.cshtml")
}

<div class="dxm-page dxm-page-pos dxm-page-pos-no-foot layui-form">
    <div class="dxm-page-content no-header bg-white left">
        <div class="dxm-page-content-inner">
            <div class="box-title">
                <span>应用信息</span>
                <div class="right">
                    <a href="/basics/app">应用管理</a>
                </div>
            </div>
            <div class="m-t"></div>
            <div class="layui-form-item auto">
                <label class="layui-form-label">@(Lang.sysMingCheng)：</label>
                <div class="layui-input-inline">
                    @(Model.App.Name)
                </div>
            </div>
            <div class="layui-form-item auto">
                <label class="layui-form-label">@(Lang.sysLeiXing)：</label>
                <div class="layui-input-inline">
                    @(Model.App.AppTypeName)
                </div>
            </div>
            <div class="layui-form-item auto">
                <label class="layui-form-label">@(Lang.sysBianMa)：</label>
                <div class="layui-input-inline">
                    @(Model.App.Code)
                </div>
            </div>
            <div class="layui-form-item auto">
                <label class="layui-form-label">@(Lang.sysKey)：</label>
                <div class="layui-input-inline">
                    @(Model.App.Key)
                </div>
            </div>
            <div class="layui-form-item auto">
                <label class="layui-form-label">@(Lang.sysMiYao)：</label>
                <div class="layui-input-inline">
                    @(Model.App.Secret)
                </div>
            </div>
        </div>
    </div>
    <div class="dxm-page-content no-header bg-white right">
        <div class="dxm-page-content-inner">
            <div id="data-list"></div>
            <div id="data-paging" class="dx-list-paging"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var pageView = {};
        $(document).ready(function () { pageView.init(); pageView.event(); });
    </script>
    <script type="text/javascript">

        pageView.init = function () {
        };

        pageView.event = function () {
            
        };

    </script>
}

