@model MemberDTO
@{
    ViewData["Title"] = Lang.userGeRenYongHu;
    Layout = string.Format("~/Views/Shared/{0}.cshtml", AppHelper.IsMaster ? "_Master" : "_Layout");
}

@section Heads{ }

@section Styles{ }

@if (!AppHelper.IsMaster)
{
    @section Menus{
        @await Html.PartialAsync("~/Areas/User/Views/_Menus.cshtml")
    }
}
<div class="dxm-page dxm-page-pos pos-no-head layui-form">
    <div class="dxm-page-content bg-white">
        <div class="dxm-page-content-inner  flex-form">

            <div class="form-line">
                <label>@(Lang.userZhangHao)：</label>
                <div class="item">
                    <input id="txt-account" autocomplete="off" class="layui-input" type="text" value="@(Model.Account)" @(Model.Id.IsEmpty() ? "" : "disabled") />
                </div>
            </div>
            @if (Model.Id.IsEmpty())
            {
                <div class="form-line">
                    <label>@(Lang.userMiMa)：</label>
                    <div class="item">
                        <input id="txt-password" autocomplete="off" class="layui-input" type="text" value="@(Model.Password)" />
                    </div>
                </div>
            }
            <div class="form-line">
                <label>@(Lang.sysMingCheng)：</label>
                <div class="item">
                    <input id="txt-name" autocomplete="off" class="layui-input" type="text" value="@(Model.Name)" />
                </div>
            </div>
            <div class="form-line">
                <label>@(Lang.userXingBie)：</label>
                <div class="item">
                    @(WebHelper.GetEnumSelectHtml<EnumGender>(id: "ddl-gender", selected: Model.Gender.GetValue()))
                </div>
            </div>
            <div class="form-line">
                <label>@(Lang.userChuShengRiQi)：</label>
                <div class="item">
                    <input id="txt-birthdate" autocomplete="off" class="layui-input" type="text" value="@(StringHelper.Get(Model.Birthdate,"yyyy-MM-dd"))" />
                </div>
            </div>
        </div>
    </div>
    <div class="dxm-page-foot clearfix bg-white">
        <div class="left">
        </div>
        <div class="right">
            <button id="btn-save" class="layui-btn">@(Lang.sysBaoCun)</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var pageView = {};
        var id = "@(Model.Id)";
        var callback = "@(WebHelper.GetQueryValue(this.Context, "callback"))";
        $(document).ready(function () { pageView.init(); pageView.event(); });
    </script>
    <script type="text/javascript">

        pageView.init = function () {
            layui.laydate.render({
                elem: '#txt-birthdate',
                format: 'yyyy-MM-dd'
            });
        };

        pageView.event = function () {
            $("#btn-save").on("click", pageView.save);
        };

        pageView.save = function () {
            var model = {
                id: id,
                account: $("#txt-account").val(),
                password: $("#txt-password").val(),
                name: $("#txt-name").val(),
                gender: $("#ddl-gender").val(),
                birthdate: ($("#txt-birthdate").val()).date("yyyy-MM-dd 00:00:00")
            };

            var url = "/common/do?action=/user/member/insert";
            if (!common.isEmpty(id)) {
                url = "/common/do?action=/user/member/update";
            }
            common.request(url, { data: model }, function (result) {
                common.message(__language.sysBaoCunChengGong, function () {
                    if (!common.isEmpty(callback)) {
                        common.parentFunc(callback);
                    }
                });
            });
        };

    </script>
}

