@model SignInInput
@{
    Layout = "~/Views/Shared/_Master.cshtml";
    ViewData["Title"] = Lang.userDengLu;
}

@section Heads{ }

@section Styles{ }

<div class="dxm-body">
    <div class="dxm-login-form">
        <div class="title">
            <h3>@(AppHelper.WebTitle)</h3>
        </div>
        <form action="@(WebHelper.GetUrl(this.Context,"/account/login"))" method="post">
            <div class="flex-form">
                <div class="form-line">
                    @Html.TextBox("account", Model?.Account, new { placeholder = Lang.userZhangHao, @class = "layui-input" })
                </div>
                <div class="form-line">
                    @Html.Password("password", Model?.Password, new { placeholder = Lang.userMiMa, @class = "layui-input" })
                </div>
                <div class="form-line">
                    <div class="clearfix">
                        <div class="left form-input verify-code-input">
                            @Html.TextBox("imgCode", Model?.ImgCode, new { placeholder = Lang.userYanZhengMa, @class = "layui-input" })
                            @Html.Hidden("imgCodeKey", Model?.ImgCodeKey)
                        </div>
                        <div class="left form-input verify-code-img">
                            <img id="img-captcha" />
                        </div>
                    </div>
                </div>
                <div class="form-line">
                    <input class="layui-btn" value="@(Lang.userDengLu)" type="submit">
                </div>
            </div>
        </form>
        @(Html.ValidationSummary())
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var pageView = {};
        $(document).ready(function () { pageView.init(); pageView.event(); });
    </script>
    <script type="text/javascript">
        pageView.init = function () {
            pageView.getCaptcha();
        };
        pageView.event = function () {
            $("#img-captcha").on("click", function () {
                pageView.getCaptcha();
            });
        };
        pageView.getCaptcha = function () {
            common.request("/common/verify?category=login&mode=image", { type: "GET" }, function (data) {
                $("#img-captcha").attr("src", "data:image/png;base64," + data.code);
                $("#imgCodeKey").attr("value", data.key);
            }, function () {
                $("#img-captcha").attr("src", "");
                $("#imgCodeKey").attr("value", "");
            });
        };
    </script>
}