@model AppDTO
@{
    ViewData["Title"] = Lang.basYingYongChengXu;
    Layout = string.Format("~/Views/Shared/{0}.cshtml", AppHelper.IsMaster ? "_Master" : "_Layout");
}

@section Heads{ }

@section Styles{ }

@if (!AppHelper.IsMaster)
{
    @section Menus{
        @Html.Partial("~/Areas/Basics/Views/_Menus.cshtml")
    }
}

<div class="dxm-page dxm-page-pos dxm-page-pos-no-head layui-form">
    <div class="dxm-page-content bg-white">
        <div class="dxm-page-content-inner">
            <div class="m-t"></div>
            <div class="layui-form-item">
                <label class="layui-form-label">@(Lang.sysMingCheng)：</label>
                <div class="layui-input-inline">
                    <input id="txt-name" autocomplete="off" class="layui-input" type="text" value="@(Model.Name)" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">@(Lang.sysLeiXing)：</label>
                <div class="layui-input-inline">
                    @(WebHelper.GetEnumSelectHtml<EnumAppType>(id: "ddl-appType", selected: Model.AppType.GetValue()))
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">@(Lang.sysBianMa)：</label>
                <div class="layui-input-inline">
                    <input id="txt-code" autocomplete="off" class="layui-input" type="text" value="@(Model.Code)" />
                </div>
                <div class="layui-form-mid layui-word-aux">
                    100x00 200x00 900x00
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">@(Lang.sysKey)：</label>
                <div class="layui-input-inline">
                    <input id="txt-key" autocomplete="off" class="layui-input" type="text" value="@(Model.Key)" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">@(Lang.sysMiYao)：</label>
                <div class="layui-input-inline">
                    <input id="txt-secret" autocomplete="off" class="layui-input" type="text" value="@(Model.Secret)" />
                </div>
            </div>
        </div>
    </div>
    <div class="dxm-page-foot clearfix bg-white">
        <div class="left">
        </div>
        <div class="right">
            <button id="btn-save" class="layui-btn">@(Lang.sysBaoCun)</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var pageView = {};
        var id = "@(GuidHelper.Get(WebHelper.GetQueryValue(this.Context,"id")))";
        var callback = "@(WebHelper.GetQueryValue(this.Context, "callback"))";
        $(document).ready(function () { pageView.init(); pageView.event(); });

    </script>
    <script type="text/javascript">

        pageView.init = function () {

        };

        pageView.event = function () {
            $("#btn-save").on("click", pageView.save);
        };

        pageView.save = function () {
            var model = {
                id: id,
                name: $("#txt-name").val(),
                code: $("#txt-code").val(),
                appType: $("#ddl-appType").val(),
                key: $("#txt-key").val(),
                Secret: $("#txt-secret").val()
            };
            var url = "/common/do?action=/basics/app/insert";
            if (!app.isEmpty(id)) {
                url = "/common/do?action=/basics/app/update";
            }
            app.request(url, { data: model }, function (result) {
                app.message(__language.sysBaoCunChengGong, function () {
                    if (!app.isEmpty(callback)) {
                        app.parentFunc(callback);
                    }
                });
            });
        };

    </script>
}

